.sc-product-grid {
    display: grid;
	grid-template-columns: 1fr;
    gap: 15px;
}
.sc-product-item {
    text-align: center;
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.sc-product-image {
    position: relative;
}
.sc-sale-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #DFC8C1;
    color: #000;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
}
.sc-discount-badge {
    position: absolute;
    top: 10px;
    left: 60px;
    background: #DFC8C1;
    color: #000;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
}
.sc-product-title {
    font-size: 16px;
    margin: 10px 0;
}
.sc-price {
    font-size: 16px;
}
.sc-regular-price {
    text-decoration: line-through;
    color: #999;
}
.sc-sale-price {
    color: #000;
    font-weight: bold;
}

@media (min-width: 768px){
    .sc-product-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}